<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'meals')}">

<body>

<h2>Posiłki</h2>


<!--<form action="/pim/new" method="post">-->
    <!--First name:<br>-->
    <!--<input type="text" name="firstName">-->
    <!--<br><br>-->
    <!--Last name:<br>-->
    <!--<input type="text" name="lastName">-->
    <!--<br><br>-->
    <!--<input type="submit" value="Submit">-->
<!--</form>-->

<form th:object="${product}" class="form-horizontal" id="add-meal-form" method="post">
    <input th:replace="~{fragments/inputField :: input ('Product id', 'id', 'text')}"/>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button
                    th:with="text='działaj'"
                    class="btn btn-default" type="submit" th:text="${text}">Dodaj Posiłek
            </button>
        </div>
    </div>
</form>

<!--<form th:object="${meal}" class="form-horizontal" id="add-meal-form" method="post">-->
    <!--<div class="form-group has-feedback">-->
        <!--<input th:replace="~{fragments/inputField :: input ('Id', 'id', 'text')}"/>-->
        <!--&lt;!&ndash;<input th:replace="~{fragments/inputField :: input ('Nazwa posiłku', 'name', 'text')}"/>&ndash;&gt;-->


        <!--&lt;!&ndash;<input th:replace="~{fragments/selectField :: select ('Produkt', 'productsInMeal', ${all_products})}" />&ndash;&gt;-->

    <!--</div>-->
    <!--<div class="form-group">-->
        <!--<div class="col-sm-offset-2 col-sm-10">-->
            <!--<button-->
                    <!--th:with="text=${meal['new']} ? 'Dodaj posiłek' : 'Aktualizuj posiłek'"-->
                    <!--class="btn btn-default" type="submit" th:text="${text}">Dodaj Posiłek-->
            <!--</button>-->
        <!--</div>-->
    <!--</div>-->
<!--</form>-->




<!--<form th:object="${product}" class="form-horizontal" id="add-product-form" method="post">-->
    <!--<div class="form-group has-feedback">-->
        <!--<input th:replace="~{fragments/inputField :: input ('Id produktu', 'name', 'text')}"/>-->
        <!--&lt;!&ndash;<input th:replace="~{fragments/inputField :: input ('Nazwa produktu', 'name', 'text')}"/>&ndash;&gt;-->

        <!--<label class="col-sm-2 control-label">Produkt</label>-->

        <!--&lt;!&ndash;<input th:replace="~{fragments/selectField :: select ('Produkt', 'productsInMeal', ${all_products})}" />&ndash;&gt;-->

    <!--</div>-->
    <!--<div class="form-group">-->
        <!--<div class="col-sm-offset-2 col-sm-10">-->
            <!--<button-->
                    <!--th:with="text=${meal['new']} ? 'Dodaj posiłek' : 'Aktualizuj posiłek'"-->
                    <!--class="btn btn-default" type="submit" th:text="${text}">Dodaj Posiłek-->
            <!--</button>-->
        <!--</div>-->
    <!--</div>-->
<!--</form>-->


<!--<form th:object="${productsInMeal}" class="form-horizontal" id="add-products-to-meal-form" method="post">-->
    <!--<div class="form-group has-feedback">-->
        <!--<input th:replace="~{fragments/inputField :: input ('product Id', 'product', 'text')}"/>-->
        <!--<input th:replace="~{fragments/inputField :: input ('meal Id', 'meal', 'text')}"/>-->
        <!--<input th:replace="~{fragments/inputField :: input ('quantity', 'quantity', 'text')}"/>-->
        <!--&lt;!&ndash;<input th:replace="~{fragments/inputField :: input ('Nazwa posiłku', 'name', 'text')}"/>&ndash;&gt;-->


        <!--&lt;!&ndash;<input th:replace="~{fragments/selectField :: select ('Produkt', 'productsInMeal', ${all_products})}" />&ndash;&gt;-->

    <!--</div>-->
    <!--<div class="form-group">-->
        <!--<div class="col-sm-offset-2 col-sm-10">-->
            <!--<button-->
                    <!--th:with="text=${meal['new']} ? 'Dodaj posiłek' : 'Aktualizuj posiłek'"-->
                    <!--class="btn btn-default" type="submit" th:text="${text}">Dodaj Posiłek-->
            <!--</button>-->
        <!--</div>-->
    <!--</div>-->
<!--</form>-->


</body>
</html>
