<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'vets')}">

<body>


<div th:each="meal : ${meals}">
    <h1><span class="label label-default" th:text="${meal.name}"></span></h1>

    <table th:id="'products_' + ${meal.id}" class="table table-striped">
        <thead>
        <tr>
            <th>Nazwa</th>
            <th>Kalorie</th>
            <th>Białko</th>
            <th>Węglowodany</th>
            <th>Tłuszcze</th>
            <th>Waga</th>
        </tr>
        </thead>

        <tbody>
            <tr th:each="product : ${meal.products}">
                <td th:text="${product.product.name}"></td>
                <td th:text="${product.product.calories}"></td>
                <td th:text="${product.product.proteins}"></td>
                <td th:text="${product.product.carbonhydrates}"></td>
                <td th:text="${product.product.fats}"></td>
                <td th:text="${product.quantity}"></td>
            </tr>
            <tr>
                <td colspan="6">
                    <a th:href="@{meals/{id}/addProduct(id=${meal.id})}" class="btn btn-default btn-sm pull-right">Dodaj produkt</a>
                </td>
            </tr>
        </tbody>
    </table>

</div>
<!--<a th:href="@{meals/new}" class="btn btn-default">Dodaj posiłek</a>-->

<!-- Button trigger modal -->
<button type="button" class="btn btn-default" data-toggle="modal" data-target="#exampleModalCenter">
    Dodaj posiłek
</button>








<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">


                <form th:action="@{/meal/new}" th:object="${meal}" class="form-horizontal" id="add-meal-form" method="post">
                    <div class="form-group has-feedback" style="padding: 15px">
                        <input th:replace="~{fragments/inputField :: input ('Nazwa', 'name', 'text')}"/>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button text="Dodaj posiłek" class="btn btn-default pull-right" type="submit">Dodaj Posiłek </button>
                        </div>
                    </div>
                </form>


            </div>
        </div>
    </div>
</div>

</body>
</html>
