<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'meals')}">

<body>


<h2>Informacje o posiłku</h2>

<h3 th:text="${meal.name}">Nazwa posiłku</h3>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Nazwa</th>
        <th>Kategoria</th>
        <th>Kalorie</th>
        <th>Białko</th>
        <th>Tłuszcz</th>
        <th>Węglowodany</th>
        <th>Waga</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${meal.products}">
        <td>
            <a th:href="@{/products/__${product.product.id}__}" th:text="${product.product.name}"/></a>
        </td>
        <td th:text="${product.product.category}"/>
        <td th:text="${product.product.calories}"/>
        <td th:text="${product.product.proteins}"/>
        <td th:text="${product.product.fats}"/>
        <td th:text="${product.product.carbonhydrates}"/>
        <td th:text="${product.quantity}"/>
    </tr>
    </tbody>
</table>


<a th:href="@{{id}/edit(id=${meal.id})}" class="btn btn-default">Edytuj</a>
<a th:href="@{{id}/addProduct(id=${meal.id})}" class="btn btn-default">Dodaj produkt</a>

</body>

</html>
