<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">

<body>

<h2 class="text-center">Cześć!<br> Oto Twój dzisiejszy wynik:</h2>

<div class="row">
    <div class="col-md-10 col-md-offset-1" style="background-color: #34302d; padding: 20px">
        <h3 style="color: whitesmoke" th:text="'Twoje spożycie kalorii : ' + ${demand.calories} + ' kcal'">Twoje
            spożycie kalorii:</h3>
        <div class="progress">
            <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar"
                 th:aria-valuenow="${demand.caloriesPercent}" aria-valuemin="0" aria-valuemax="100"
                 th:style="'width: ' + ${demand.caloriesPercent} + '%;'">
                <span th:text="${demand.caloriesPercent} + '%'"/>
            </div>
        </div>
        <br>
        <h3 style="color: whitesmoke" th:text="'Twoje spożycie białka : ' + ${demand.proteins} + ' g'"> Twoje spożycie
            białka:</h3>
        <div class="progress">
            <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar"
                 aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"
                 th:style="'width: ' + ${demand.proteinsPercent} + '%;'">
                <span th:text="${demand.proteinsPercent} + '%'"/>
            </div>
        </div>
        <h3 style="color: whitesmoke" th:text="'Twoje spożycie węglowodanów : ' + ${demand.carbonhydrates} + ' g'">
            Twoje spożycie węglowodanów:</h3>
        <div class="progress">
            <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar"
                 aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
                 th:style="'width: ' + ${demand.carbonhydratesPercent} + '%;'">
                <span th:text="${demand.carbonhydratesPercent} + '%'"/>
            </div>
        </div>
        <h3 style="color: whitesmoke" th:text="'Twoje spożycie tłuszczów : ' + ${demand.fats} + ' g'"> Twoje spożycie
            tłuszczów:</h3>
        <div class="progress">
            <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar"
                 aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"
                 th:style="'width: ' + ${demand.fatsPercent} + '%;'">
                <span th:text="${demand.fatsPercent} + '%'"/>
            </div>
        </div>


    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <br><br>
        <a th:href="@{/products/new}" class="btn btn-default">Dodaj nowy produkt</a>
        <a th:href="@{/products/find}" class="btn btn-default">Szukaj produktu</a>
    </div>
</div>

</body>

</html>
